.container{
    width: 200px;
    float: left;
    position: relative;
    margin-left: 10px;
}
.picture{
    width: inherit;
}
img {
    width: inherit;
    height: inherit;
}

.close-btn{
    position: absolute;
    right: 0;
}
.edit-btn{
    position: absolute;
    right: 3em;
}